<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Update Password Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" th:href="@{images/icons/icon.png}"/>

    <div th:replace="header :: update-password-css"/>

</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" th:object="${newAccount}"
                  th:action="${'account-update-password?email='+email}" method="post">

                <a class="login100-form-system p-b-10 p-t-10" th:href="@{/}">UNIT TEST SCANNER</a>

                <hr style="border-width: 2px; border-color: #2926ac;">

                <span class="login100-form-title p-b-20 p-t-20">Update Password</span>

                <span class="login100-form-description p-b-25 p-t-20" th:inline="text">Hello [[${fullName}]]! Please fill in your new password in the column below!</span>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="password" id="password" placeholder="New Password"
                           th:field="*{password}">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password confirmation">
                    <input class="input100" type="password" name="passwordConfirmation"
                           placeholder="Password Confirmation" id="passwordConfirmation" onkeyup='checkPassword();'>
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <span id='message' style="margin-bottom: 5px; position: absolute"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit" onclick="return validate();">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var isMatch;

    function checkPassword() {
        if (document.getElementById('password').value == document.getElementById('passwordConfirmation').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Password match';
            isMatch = true;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password not match';
            isMatch = false;
        }
    }

    // Password must have at least 8 characters with at least one Capital letter, at least one lower case letter and at least one number or special character.

    function validatePassword(password) {
        var regex = /(?=^.{8,}$)((?!.*\s)(?=.*[A-Z])(?=.*[a-z]))((?=(.*\d){1,})|(?=(.*\W){1,}))^.*$/;
        return regex.test(password);
    }

    function validate() {
        var password = document.getElementById("password").value;

        if (!isMatch) {
            alert("Please check your password!");
            return false;
        }
        else if (!validatePassword(password)){
            alert("Please check your password!\nPassword must have at least 8 characters with at least one Capital letter, at least one lower case letter and at least one number or special character.");
            return false;
        }
        else {
            return true;
        }

    }

</script>

<!--===============================================================================================-->
<script th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/bootstrap/js/popper.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/daterangepicker/moment.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{js/update-password-page.js}"></script>
<!--===============================================================================================-->


</body>
</html>
