<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Upload Project Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" th:href="@{images/icons/icon.png}"/>

    <div th:replace="header :: header-upload-project-css"/>

</head>
<body>

<div th:replace="header :: header-navbar-not-active"/>

<!--================ Banner Section start =================-->
<section class="hero-banner text-center" style="background: url(images/back-inner.jpg) center center no-repeat;">
    <div class="container">
        <div class="wrap-loader" id="divSpinner">
            <div class="loader"></div>
        </div>

        <h1>Unit Test Scanner</h1>
        <div class="section-style"></div>
        <p class="hero-subtitle">You are now on the upload project page. If you want to upload your project, please click
            Browse Project button below and then click Upload Project button!<br>
            <strong><b>NOTE:</b></strong> The uploaded file must have ".zip" extension and maximum size 1GB</p>
        <p class="hero-subtitle">Selected file: <span id="fileName">none</span></p>

        <form name="uploadingForm" enctype="multipart/form-data" th:action="@{/project/upload}" method="post">
            <label class="button button-outline" for="project">Browse Project</label>
            <input id="project" type="file" name="project" style="opacity: 0;position: absolute;z-index: -1;"/>
            <input class="button button-outline" type="submit" value="Upload Project" id="btn_upload" style="display:none; margin-left: 10px;" onclick="return uploadConfirmation()">
        </form>

    </div>
</section>
<!--================ Banner Section end =================-->

<script type="text/javascript">
    document.getElementById('project').onchange = function checkSizeAndTypeFile() {
        var fileSelected = this.value;
        var uploadButton = document.getElementById("btn_upload");
        var fileExt = fileSelected.substring(fileSelected.lastIndexOf('.') + 1).toLowerCase();
        var fileSize = this.files[0].size/1073741824;
        var textAlert = "";
        var fileValid = true;

        if (fileExt !== "zip"){
            textAlert += "This file is not allowed, please upload correct file!";
            fileValid = false;
        }
        if (fileSize > 1){
            textAlert += "\nThis file is not allowed, file size is: " + +fileSize.toFixed(2) + " GB. Please upload correct file!";
            fileValid = false;
        }
        if (!fileValid) {
            alert(textAlert);
        }

        if (fileSelected !== undefined && fileValid) {

            document.getElementById("fileName").innerHTML = fileSelected;

            if (uploadButton.style.display === "none") {
                uploadButton.style.display = "inline";
            }
        } else {
            uploadButton.style.display = "none";
        }
    };

    function uploadConfirmation() {
        var  fileSelected = document.getElementById("fileName").innerHTML;
        var isConfirmed = confirm("Are you sure to upload file " + fileSelected + "?");
        if (isConfirmed) {
            displayLoader()
            return true;
        } else {
            return false;
        }
    }

    function displayLoader() {
        var x = document.getElementById("divSpinner");
        x.style.display = "block";
    }
</script>

<!--===============================================================================================-->
<script th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{vendor/owl-carousel/owl.carousel.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{js/jquery.ajaxchimp.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{js/mail-script.js}"></script>
<!--===============================================================================================-->
<script th:src="@{js/main.js}"></script>
<!--===============================================================================================-->

</body>
</html>